build
filelock # for cartopy mpl tests
flufl.lock # for cartopy mpl tests
pycodestyle # formatter
pylint # code linter
pytest
requests_mock
responses # mocking urllib3 requests
setuptools
twine # PyPI
wheel
