name: CI

on:
  pull_request:
  merge_group:
  # Creates a coverage of the main branch
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    uses: geo-engine/geoengine-python/.github/workflows/test-python.yml@notebooks-in-coverage

    strategy:
      fail-fast: false
      matrix:
        # use all supported versions from https://devguide.python.org/versions/
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    with:
      python-version: ${{ matrix.python-version }}
      use-uv: false
      coverage: false

  # Checks the library using minimum version resolution
  # `uv` has this feature built-in, c.f. https://github.com/astral-sh/uv
  check-min-version:
    uses: geo-engine/geoengine-python/.github/workflows/test-python.yml@notebooks-in-coverage

    with:
      python-version: "3.10"
      use-uv: true
      coverage: true
